* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 3%;
    padding: 10px 50px 10px 50px;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goods-search {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    padding-left: 16px;
    font-size: 17px;
    border-radius: 40px;
    outline: none;
}
.goods-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
}
.goods-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(56, 55, 55, 0.301);
    width: 25%;
    min-width: 20px;
    text-align: center;

    margin: 2%;
    padding: 1%;
}

.price {
    color: rgb(231, 125, 143);
    font-size: 22px;
}

button {
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #a4a5a7 0 1px 2px;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 0.3em;
    border: 1px solid;
    border-color: #999999 #919da7;
    border-radius: 6px;
    outline: none;
    background: #9c9c9c;
}

button:hover {
    opacity: 0.7;
}
.search-button,
.cart-button,
.trash {
    padding: 5px;
    background: none;
    border: none;
    font-size: 20px;
}
.trash {
    color: grey;
}
.cart-button {
    background: #999999;
    padding-right: 2px;
}
.shoppingcart {
    position: absolute;
    width: 400px;
    background: white;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 3px;
    right: 15px;
    top: 60px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
.none {
    display: none;
}
.table_header {
    font-weight: bold;
}
.table_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
}
.total_cart {
    text-align: end;
    margin-right: 10px;
}
.counter {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: relative;
    text-align: center;
    right: 15px;
    top: -25px;
    font-size: 10px;
    line-height: 20px;
}
